.vs/PythonSettings.json
.vs/VSWorkspaceState.json
.vs/NEO/FileContentIndex/45f846d9-8049-4f94-a785-a11ebf783aab.vsidx
.vs/NEO/FileContentIndex/ba92a000-1d9b-4d15-8a58-d9e156f03f32.vsidx
.vs/NEO/FileContentIndex/dc8aa8d3-8b64-4ebe-9dd7-410c09ed0d5a.vsidx
.vs/NEO/FileContentIndex/db4e8d68-266b-4bec-855f-7e1a0653743d.vsidx
.vs/NEO/FileContentIndex/7945ec84-f290-4d03-bc76-5eb6ecf0358f.vsidx
.vs/slnx.sqlite
.vs/NEO/FileContentIndex/dfff5352-2bcb-4308-ac2d-c4eca90109e3.vsidx
.vs/NEO/v17/.wsuo
.vs/NEO/v17/DocumentLayout.json
__pycache__/package.cpython-311.pyc
__pycache__/tool.cpython-311.pyc
